<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table class="table">
    <thead>
        <tr>
            <th>Araba Id</th>
            <th>Renk Adı </th>
            <th>Marka Adı</th>
            <th>Model Yılı</th>
            <th>Günlük Fiyatı</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.carId}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.carName}}</td>
    </tr>
    
    
</table>
